<div class="bg-white lg:w-4/12 md:6/12 w-10/12 m-auto my-10 shadow-md">
    <div class="py-8 px-8 rounded-xl">
        <h2 class="font-md text-2xl mt-3 text-center">Log in</h2>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field mt-6">
            <div class="my-5 text-sm">
                <%= f.label :email, class: "block text-black" %>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "rounded-sm px-4 py-3 mt-3 focus:outline-none bg-gray-100 w-full" %>
            </div>

            <div class="my-5 text-sm">
                <%= f.label :password, class: "block text-black" %><br />
                <%= f.password_field :password, autocomplete: "current-password", class: "rounded-sm px-4 py-3 mt-3 focus:outline-none bg-gray-100 w-full" %>
            </div>
        </div>

        <div class="flex justify-end mt-2 text-xs text-gray-600">
            <%= link_to "Forgot your password?", new_password_path(resource_name) %>
        </div>

        <% if devise_mapping.rememberable? %>
        <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
        </div>
        <% end %>

        <div>
            <%= f.submit "Log in", class: "block text-center text-white bg-gray-800 p-3 rounded-sm hover:bg-black w-full" %>
        </div>
        <% end %>


    </div>
</div>
</div>